*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.banner{
    background-image: url(../img/slider/10.jpg);
    width: 100%;
    height: 100vh;
}
.banner h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5rem;
}
.watch-banner{
    max-width: 340px;
}
.btn-explore{
    margin-top: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
    color: rgb(5, 5, 153);
}
.btn-explore:hover{
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}
.btn-explore i,span:hover{
    color: #000;
}
.btn-explore span{
    margin-right: 15px;
    font-size: 18px;
}
.navbar-scrolled{
    height: 100px;
    background-color: rgb(5, 5, 153);
}
.navbar{
    transition: all 0.5s;
}
.menu{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}
.flex-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-menu{
    display: flex;
    align-items: center;
    gap: 25px;
}
.header-menu a{
    text-decoration: none;
    color: #ffffff;
}
.header-menu a:hover{
    text-decoration: underline;
    color: #ffffff;
}
.list-group-item a{
    color: #000000;
}
.list-group-item a:hover{
    color: #2738ee;
}
@media only screen and (max-width: 992px) {
    .list-menu{
        display: none;
    }
}
@media only screen  and (min-width: 992px) {
    .btn-menu{
        display: none;
    }
}
@media only screen and (max-width: 766px) {
    .btn-buy{
        display: none;
    }
}
.btn-buy{
    font-size: 12px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    color: rgb(5, 5, 153);
}
/* about-area */
.about{
    background-image: url(../img/bg/8.jpg);
    background-position: center;
    width: 100%;
    padding: 150px 0;

}
.about-content h1{
    font-weight: bold;
    font-size: 36px;
    margin: 28px 0 0 0;
}
.about-content p{
    color: #666666;
    font-size: 1rem;
    margin: 30px 0 40px 0;
}
.btn-read{
    font-size: 14px;
    border: 1px solid #1834A6;
    border-radius: 25px;
    padding: 10px 40px 10px;
    font-weight: bold;
    color: rgb(251, 251, 255);
    background-color: #1834A6;
}
.btn-read:hover{
    box-shadow: rgb(5, 5, 153) 0px 5px 15px;
}
/* option-area */
.option{
    background-image: url(../img/bg/9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 70px;
    margin-bottom: 145px;
}
.content-option p{
    font-size: 18px;
    color: #686868;
}
.content-title{
    margin-top: 50px;
}
.section-title{
    margin-right: 150px;
}
.section-title h1{
    font-weight: bold;
}
span{
    font-size: 26px;
}
/* Feature-area */
.feathers{
    background-image: url("../img/banner/5.png");
    width: 100%;
    /* height: 100vh; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.feathers h4{
    font-weight: bold;
    font-size: 18px;
}
.feathers-content{
    padding-right: 40px;
    margin-bottom: 55px;
}
.feathers-content p{
    font-size: 16px;
    color: #686868;;
    letter-spacing: 0.2px;
}
.section-feathers{
    margin-bottom: 45px;
}
.section-feathers h1{
    font-weight: bold;
}
.section-feathers p{
    font-size: 17px;
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
.feathers-content img:hover{
    animation: tilt-shaking 0.2s;
    cursor: pointer;
}
.feathers-content-3 img:hover{
    animation: tilt-shaking 0.2s;
    cursor: pointer;
}
.feathers-content-3{
    margin-bottom: 55px;
    padding-right: 100px;
}
.feathers-content-3 p{
    font-size: 16px;
    color: #686868;;
    letter-spacing: 0.2px;
}
/* product */
.product{
    padding-top: 85px;
    padding-bottom: 120px;
}
.section-product h1{
    font-weight: bold;
    letter-spacing: 0.2px;
}
.section-product p{
    font-size: 18px;
    color: #686868;
    margin: 0 auto;
}
.box-card{
    display: grid;
    text-align: center;
    justify-content: center;
}
.card-wrapper{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card{
    width: calc(100%/3);
}
@media screen and (max-width:767px) {
    .card:not(:first-child){
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .card:first-child{
        display: none;
    }
}
.card-img-top{
    height: 25rem;
}
.card-body a{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.card-body a:hover{
    color: blue;
}
.add-card a{
    color: #9e9e9e;
}
.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card{
    margin: 20px 0px;
}
/* video-area */
.video-area{
    background-image: url(../img/bg/10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */
    padding-top: 165px;
    padding-bottom: 160px;
}
.video-content h2{
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 55px;
    text-transform: uppercase;
}
.video-content p{
    font-size: 18px;
    color: #383838;
    width: 70%;
    margin-top: 22px;
    margin-bottom: 50px;
}
.video-btn > a {
    background-color: #1834a6;
    border-radius: 50px;
    color: #fffefe;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 45px;
    position: relative;
    text-align: center;
    width: 40px;
    transition: all .3s ease 0;
    z-index: 99;
}
.video-btn > a::before {
    animation: 1.5s linear 0s normal none infinite running buttonRing;
    border: 2px solid #383838;
    border-radius: 50em;
    content: "";
    display: inline-block;
    height: 50px;
    left: -5px;
    opacity: 0.6;
    position: absolute;
    top: -5px;
    transform: scale3d(1, 1, 1);
    transition: all 0.3s ease 0s;
    width: 50px;
    z-index: 9;
}
.icon-play{
    margin-bottom: 3px;
}
/* feature-area */
.feature-area{
    padding-top: 150px;
    padding-bottom: 145px;
}
.list-icon{
    background-color: #1834a6;
    border-radius: 50px;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    transition: all .3s ease 0s;
    margin-bottom: 10px;
}
.list-icon:hover{
    background-color: #000000;
}
.list-text h3{
    color: #1834a6;
    font-size: 18px;
    font-weight: 400px;
    text-transform: uppercase;
}
.list-text span{
    font-size: 18px;
    color: #1834a6;
    font-weight: bold;
}
.feature-img{
    padding-top: 50px;
}
/* feadback-area */
.section-feadback h2{
    font-size: 36px;
    letter-spacing: 0.2px;
    margin-bottom: 19px;
    font-weight: bold;
}
.section-feadback p{
    color: #666666;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 26px;
}
.feadback-img-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.card-feedback p{
    font-size: 14px;
}
.feadback-title span{
    font-size: 12px;
    color: #133a7a;
}
.feadback-title h4{
    font-weight: bold;
}
.card-wrapper{
    display: flex;
    justify-content: center;
    gap: 40px;

}
.card-feedback{
    padding: 30px 20px;
    width: calc(100%/3);
}
@media screen and (max-width:580px) {
    .card-feedback:not(:first-child){
        display: none;
    }
}
@media screen and (min-width:581px) and (max-width:992px) {
    .card-feedback:first-child{
        display: none;
    }
}
/* newsletter-area */
.newsletter-area{
    padding-top: 150px;
}
/* form */
.input-right{
    margin-right: 50px;
}
@media only screen and (max-width: 1199px) {
    .form-email{
        display: flex;
        flex-direction: column;
    }
    .sub{
        margin-top: 20px;
    }
    .email{
        margin-top: 10px;
    }
}
.sub{
    background-color: #ffffff;
    color: #0347ac;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-weight: bold;
    padding: 15px 40px;
    letter-spacing: 0.5px;
}
.sub:hover{
    background-color: #2d2c2c;
    color: #ffffff;
    border: 0;
}
.input-left{
    margin-left: 40px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.email{
    border: 0;
    border-bottom:2px solid #ffffff;
    background-color: #0347ac;
    outline: none;
    color: #ffffff;
    width: 500px;
    padding-bottom: 8px;
}
@media only screen and (max-width: 768px) {
    .email{
        margin-top: 10px;
        width: 200px;
    }
}
.form-email{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
::-webkit-input-placeholder{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
/* footer-area */
.footer-header{
    padding-top: 70px;
    padding-bottom: 35px;
    justify-content: center;
}
.footer-widget{
    margin-bottom: 30px;
}
.footer-content{
    margin: 0px 70px;
}
.footer-about > p{
    font-size: 16px;
    color: #666666;
    margin-top: 40px;
}
.footer-title h3{
    color: #383838;
    font-size: 30px;
    margin-bottom: 28px;
    font-weight: bold;
}
.name-info span{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
.name-detail p{
    font-size: 16px;
    color: #666666;
}
.footer-info{
    display: flex;
    gap: 8px;
}
.widget-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer-bottom{
    padding: 20px 0px;
    background-color: #f6f6f6;
}
.copyright-furniture p{
    margin-bottom: 0px;
}
@media only screen and (max-width: 990px) {
    .widget-wrapper{
        display: flex;
        flex-direction: column;
    }
}
.scrollUp {
    background: #050035 none repeat scroll 0 0;
    bottom: 85px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 40px;
    line-height: 44px;
    position: fixed;
    right: 12px;
    text-align: center;
    width: 40px;
    z-index: 9999;
    opacity: 0;
}
.scrollUp.active{
    opacity: 1;
}
.icon-up{
    margin-bottom: 3px;
}